apiVersion: v1
kind: Service
metadata:
  name: ledger-service
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
  selector:
    app.kubernetes.io/name: ledger-service
