apiVersion: apps/v1
kind: Deployment
metadata:
  name: card-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: card-service
  template:
    metadata:
      labels:
        app.kubernetes.io/name: card-service
    spec:
      serviceAccountName: card-service
      containers:
        - name: card-service
          image: neobank/card-service
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: grpc
              containerPort: 9090
              protocol: TCP
          envFrom:
            - configMapRef:
                name: card-service-config
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          livenessProbe:
            httpGet:
              path: /health/live
              port: http
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /health/ready
              port: http
            initialDelaySeconds: 5
            periodSeconds: 5
          securityContext:
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 1000
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
