apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-service
  namespace: neobank
  labels:
    app: payment-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payment-service
  template:
    metadata:
      labels:
        app: payment-service
    spec:
      containers:
        - name: payment-service
          image: neobank/payment-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8083
          env:
            - name: PORT
              value: "8083"
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-name
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: jwt-secret
            - name: KAFKA_BROKERS
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: KAFKA_BROKERS
            - name: LEDGER_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: LEDGER_SERVICE_URL
          readinessProbe:
            httpGet:
              path: /health
              port: 8083
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-service
  namespace: neobank
spec:
  selector:
    app: payment-service
  ports:
    - port: 8083
      targetPort: 8083
  type: ClusterIP
