apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
  namespace: neobank
  labels:
    app: product-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: neobank/product-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8084
          env:
            - name: PORT
              value: "8084"
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: DB_HOST
            - name: DB_PORT
              valueFrom:
                configMapKeyRef:
                  name: neobank-config
                  key: DB_PORT
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-user
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-password
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: db-name
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: neobank-secrets
                  key: jwt-secret
          readinessProbe:
            httpGet:
              path: /health
              port: 8084
            initialDelaySeconds: 10
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /health
              port: 8084
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
  namespace: neobank
spec:
  selector:
    app: product-service
  ports:
    - port: 8084
      targetPort: 8084
  type: ClusterIP
